A dashboard is a type of graphical user interface which often provides at-a-glance views of key performance indicators relevant to a particular objective. In this Project we will be using a dashboard to analyse the financial activities in regards with mobile money usage. Mobile money is a service that stores funds in a secure electronic account, linked to a mobile phone number. In some cases, the mobile money number will be the same as the phone number, but not always.

In [1]:
import pandas as pd
import numpy as np

import dash
import dash_core_components as dcc
import dash_html_components as html
import dash_renderer

import plotly.graph_objs as go
import plotly.offline as pyo
import os

import seaborn as sns
import matplotlib.pyplot as plt
sns.set()

ImportError:
The plotly.dashboard_objs module is deprecated,
please install the chart-studio package and use the
chart_studio.dashboard_objs module instead.

In [17]:
mob_mon= pd.read_csv('training.csv')
mob_mon.head(0)

Empty DataFrame
Columns: [ID, Q1, Q2, Q3, Q4, Q5, Q6, Q7, Q8_1, Q8_2, Q8_3, Q8_4, Q8_5, Q8_6, Q8_7, Q8_8, Q8_9, Q8_10, Q8_11, Q9, Q10, Q11, Q12, Q13, Q14, Q15, Q16, Q17, Q18, Q19, Latitude, Longitude, mobile_money, savings, borrowing, insurance, mobile_money_classification]
Index: []

[0 rows x 37 columns]

In [18]:
mob_mon = mob_mon.drop(['ID'], axis=1)

In [19]:
mob_mon = mob_mon.rename(columns={'Q1':'age','Q2':'gender','Q3':'marital_status','Q6':'land_ownership'
                                  ,'Q13':'mobile_money_usage'})


mob_mon_incomes = mob_mon[["Q8_1" ,"Q8_2","Q8_3","Q8_4","Q8_5","Q8_6","Q8_7","Q8_8","Q8_9","Q8_10","Q8_11"]] 

income_type = {
    "Q8_1":'salaries',
    "Q8_2":'trading',
    "Q8_3":'service',
    "Q8_4":'piece_work',
    "Q8_5":'rental_income',
    "Q8_6":'interest',
    "Q8_7":'pension',
    "Q8_8":'social_welfare',
    "Q8_9":'rely_on_someone',
    "Q8_10":'dont_get_money',
    "Q8_11":'other'}


mob_mon = mob_mon.rename(columns={
    "Q8_1":'salaries',
    "Q8_2":'trading',
    "Q8_3":'service',
    "Q8_4":'piece_work',
    "Q8_5":'rental_income',
    "Q8_6":'interest',
    "Q8_7":'pension',
    "Q8_8":'social_welfare',
    "Q8_9":'rely_on_someone',
    "Q8_10":'dont_get_money',
    "Q8_11":'other'
})

mob_mon.gender = ['male' if each == 1 else 'female' for each in mob_mon.gender]

In [14]:
mob_mon.head(0)

Empty DataFrame
Columns: [age, gender, marital_status, Q4, Q5, land_ownership, Q7, salaries, trading, service, piece_work, rental_income, interest, pension, social_welfare, rely_on_someone, dont_get_money, other, Q9, Q10, Q11, Q12, mobile_money_usage, Q14, Q15, Q16, Q17, Q18, Q19, Latitude, Longitude, mobile_money, savings, borrowing, insurance, mobile_money_classification]
Index: []

[0 rows x 36 columns]

In [ ]:
mob_mon['Age_by_decades'] = mob_mon.age.apply(lambda x : int(x/10) * 10)

app.layout = html.Div([
    dcc.Graph(
        id='Age-Vs-Mobile-Money',
        figure={
            'data': [
                dict(
                    x='Age_by_decades',
                    text='mobile_money_classification',
                    mode='markers',
                    opacity=0.7,
                    marker={
                        'size': 15,
                        'line': {'width': 0.5, 'color': 'white'}
                    },
                    name=i
                ) for i in df.continent.unique()
            ],
            'layout': dict(
                xaxis={'type': 'log', 'title': 'GDP Per Capita'},
                yaxis={'title': 'Life Expectancy'},
                margin={'l': 40, 'b': 40, 't': 10, 'r': 10},
                legend={'x': 0, 'y': 1},
                hovermode='closest'
            )
        }
    )
])

In [ ]:
if __name__ == '__main__':
    app.run_server(debug=True)